{% load static%}
<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link h6" href="{% url 'dashboard'%}"><i class="fa-solid fa-chart-column p-2"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h6" href="{% url 'campaigns'%}"><i class="fa-solid fa-envelope-open-text p-2"></i> Campaigns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h6" href="{% url 'customers'%}"><i class="fa fa-users p-2"></i> Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h6" href="{% url 'templates'%}"><i class="fa fa-envelope p-2"></i> Email Templates</a>
        </li>
      </ul>
  </div>
  </nav>
</div>
